!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title seqseq
    = stylesheet_link_tag "app"
    %link(href='https://fonts.googleapis.com/css?family=Permanent+Marker|Open+Sans:600' rel='stylesheet' type='text/css')
  %body
    %main#app
    %script(src="/main.js" type="text/javascript")
