ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

a img, :link img, :visited img, fieldset {
  border: none;
  outline: none; }

address {
  font-style: normal; }

header, section, article, nav, footer, hgroup, details, summary, figure, main {
  display: block; }

mark {
  color: inherit;
  background: transparent; }

abbr {
  border: none; }

summary::-webkit-details-marker {
  display: none; }

html {
  font-size: 100%; }

body {
  font-family: "Open Sans";
  background: #F6F6F6; }

a {
  color: #CC0000; }
  a:hover {
    color: #008BCC;
    transition: .2s; }

.modal {
  position: relative;
  margin: 74px auto 0 auto;
  width: 400px;
  background-color: #fff;
  padding: 1em; }

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100; }

input[type="text"], input[type="number"], textarea, select {
  font: 0.75rem "Open Sans";
  color: #474747;
  padding: 0.5rem 0.7rem;
  background: #FAFAFA;
  border: 1px solid #E5E5E5;
  border-radius: 1rem;
  display: inline-block; }
  input[type="text"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
    border-color: #7f7f7f;
    outline: none; }

input[type="range"] {
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  background: #e0e0e0;
  border: 1px solid #cbcbcb;
  border-radius: 1rem;
  height: .3rem;
  margin-top: .0625rem; }
  input[type="range"]:focus {
    outline: none; }
    input[type="range"]:focus::-webkit-slider-thumb {
      border-color: #7f7f7f; }

::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 1rem;
  height: 1rem;
  width: 1rem; }

header {
  font-size: 1em;
  background: #fff; }
  header > h1 {
    font: 2rem "Permanent Marker";
    color: #CC0000;
    text-align: center;
    padding: .8rem 0; }
  header dl {
    float: left;
    width: 18%;
    margin: 0; }
    header dl dd {
      margin: 0; }

section.controls {
  font-size: 1em;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 0; }
  section.controls h2 {
    font: 1.5rem "Permanent Marker";
    color: #363636;
    float: left;
    margin: 0 0 0 1rem; }
  section.controls h3 {
    font: 0.75rem "Open Sans";
    font-weight: 600;
    color: #363636; }
  section.controls > a {
    font: .75rem/2rem "Open Sans";
    text-transform: uppercase;
    float: right;
    margin: 0.4rem 0.8rem 0 0; }
  section.controls article {
    font-size: 1em;
    background: #fff;
    border: 1px solid #DADADA;
    border-radius: 3rem;
    padding: 0.8rem 1rem;
    position: relative;
    margin: 3.3rem 0 1rem; }
    section.controls article:before {
      content: " "; }
    section.controls article:after {
      display: table;
      content: " ";
      clear: both; }
    section.controls article dl {
      float: left; }
    section.controls article dl dt, section.controls article dl dd {
      display: inline;
      position: relative; }
    section.controls article dl dt {
      margin-right: .5rem;
      margin-left: 1rem; }
      section.controls article dl:first-child dt {
        margin-left: 0; }
      section.controls article dl dt label {
        font-size: .75rem;
        color: #565656;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: .3rem; }
      section.controls article dl dt a.active {
        display: none; }
      section.controls article dl dt a.active + a {
        display: inline; }
    section.controls article.instrument dl {
      float: left;
      width: calc(100% - 25px); }
    section.controls article.instrument button {
      float: left;
      width: 25px; }
    section.controls article.instrument label {
      width: 12px; }
      section.controls article.instrument label[for='volume'] {
        text-indent: -9999px;
        height: 1.05rem;
        background: url("../img/icon_sound@2x.png") center left no-repeat;
        background-size: 12px 12px; }
      section.controls article.instrument label[for='shape'] {
        width: auto; }
      section.controls article.instrument label[for='channel'] {
        width: auto; }
    section.controls article > section {
      position: absolute;
      top: -.9rem;
      right: 4rem;
      width: 4.5rem; }
      section.controls article > section #transport {
        width: 11rem; }
        section.controls article > section #transport button {
          font-size: 2rem;
          color: #fff;
          background: #363636;
          border: .5rem solid #fff;
          border-radius: 3.5rem;
          padding: 1rem 3rem 1rem 1.5rem;
          display: inline-block;
          margin: 0 0.5rem 0 0;
          width: 4.875rem;
          position: relative;
          z-index: 50; }
          section.controls article > section #transport button:focus {
            outline: none; }
          section.controls article > section #transport button:before {
            content: "";
            border: 1px solid #D0CECE;
            border-radius: 3.5rem;
            position: absolute;
            padding: 1rem 1rem 1rem 1.5rem;
            width: 2.875rem;
            height: 3.3rem;
            top: -.5rem;
            left: -.5rem;
            z-index: 2; }
          section.controls article > section #transport button:hover {
            cursor: pointer;
            background: #222222;
            transition: .8s; }
        section.controls article > section #transport h3 {
          display: inline-block;
          float: right;
          margin: 2.4rem 0 0 0;
          padding-right: 3.7rem; }

#parts, #songs {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: auto; }
  #parts > ul, #songs > ul {
    clear: both; }
    #parts > ul:before, #songs > ul:before {
      content: " "; }
    #parts > ul:after, #songs > ul:after {
      display: table;
      content: " ";
      clear: both; }
    #parts > ul > li, #songs > ul > li {
      box-sizing: border-box;
      display: block;
      float: left;
      border: 1px solid #E5E5E5;
      width: 23%;
      margin: 1%;
      height: 100px;
      cursor: pointer; }
      #parts > ul > li.part, #parts > ul > li.song, #songs > ul > li.part, #songs > ul > li.song {
        overflow: hidden;
        background-color: white; }
        #parts > ul > li.part:hover, #parts > ul > li.song:hover, #songs > ul > li.part:hover, #songs > ul > li.song:hover {
          border: 1px solid #cccccc; }
        #parts > ul > li.part.mute, #parts > ul > li.song.mute, #songs > ul > li.part.mute, #songs > ul > li.song.mute {
          background-color: black; }
        #parts > ul > li.part a, #parts > ul > li.song a, #songs > ul > li.part a, #songs > ul > li.song a {
          height: 100px;
          position: relative;
          display: block;
          width: 100%; }
          #parts > ul > li.part a > ul, #parts > ul > li.song a > ul, #songs > ul > li.part a > ul, #songs > ul > li.song a > ul {
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 100%; }
            #parts > ul > li.part a > ul li, #parts > ul > li.song a > ul li, #songs > ul > li.part a > ul li, #songs > ul > li.song a > ul li {
              position: absolute;
              border-radius: 2px; }

#songs > button {
  float: right;
  margin: 1%; }

.part, .song {
  position: relative; }
  .part header, .song header {
    background: none;
    z-index: 5;
    position: absolute;
    top: 0px;
    display: none; }
    .part header button, .song header button {
      margin: 2px 0 0 2px; }

.part:hover header, .song:hover header {
  display: block; }

.part li {
  background: #1AA8DD; }

.song .Q {
  background: red; }

.song .W {
  background: orange; }

.song .E {
  background: yellow; }

.song .R {
  background: green; }

.song .A {
  background: blue; }

.song .S {
  background: indigo; }

.song .D {
  background: violet; }

.song .F {
  background: black; }


@keyframes playbar {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

.play-bar {
  position: absolute;
  height: 100%;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: playbar;
  width: 4px;
  background: #CC0000;
  z-index: 3;
  box-shadow: 1px 0 white;
  opacity: 0.5; }

#piano-roll #grid {
  overflow: hidden;
  float: right;
  background: #ffffff;
  width: 90%;
  position: relative; }
  #piano-roll #grid .measures {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; }
    #piano-roll #grid .measures .measure {
      box-sizing: border-box;
      height: 100%;
      float: right;
      border-left: 1px dashed #b2b2b2; }
  #piano-roll #grid ul.notes {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 2; }
    #piano-roll #grid ul.notes li {
      height: 20px;
      position: absolute;
      left: 0%;
      top: 11%;
      background: #1AA8DD;
      border-radius: .625rem; }
      #piano-roll #grid ul.notes li.selected {
        background: #18BF3B; }

#piano-roll #keyboard {
  font: .875rem/1.625rem "Open Sans";
  background: #fff;
  width: 10%; }
  #piano-roll #keyboard li {
    color: #363636;
    padding: 0 0 0 0.3rem; }
    #piano-roll #keyboard li.sharp {
      color: #fff;
      background: #363636; }

#piano-roll ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#piano-roll .row {
  border-top: 1px solid #D4D4D4;
  height: 25px; }

#piano-roll .sharp {
  background-color: #E9E8E8; }

#piano-roll #selection-box {
  border: 1px dashed black;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute; }
